.menu-bar {
    display: flex;
    justify-content: space-between;
    background-color: #d4d5ee;
    height: 64px;
    padding: 0 52px;
    align-items: center;
    font-size: 18px;

}

.logo {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    color: #171c51;
    font-weight: 500;
    font-size: 32px;
}

.right-menu {
    display: flex;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: 600;
    color: #171c51;


}

.main-menu a:hover {
    color: #d4eef5;

}

.cta-menu button:hover {
    background-color: #343a83;
}

.cta-menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-weight: 600;
    margin-left: 32px;
}

.cta-menu-item {
    color: #171c51;
    text-align: center;
    display: flex;
    padding: 6px 12px;
}

.active-menu {
    color: #ffffff;
    background-color: #171c51;
    border-radius: 4px;
}

