.social-media-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #fafafa;

}

.title-section h1 {
    text-align: center;
    color: #171c51;
    font-weight: 600;
    font-size: 32px;
   padding: 24px;
}

.title-section p {
    text-align: center;
    font-size: 16px;
    
}

.button-social {
    display: flex;
    gap: 32px;
}

.cta-button-social {
    background-color: #171c51;
    color: #fafafa;
    height: 48px;
    width: 148px;
    border-radius: 8px;
}

.button-social button:hover {
    background-color: #d4eef5;
    color: #171c51;
}

.default-button {
    background-color: #eaedfa;
    color: #171c51;
    font-weight: 600;
}